* {
    box-sizing: border-box;
}

.contactItem {
    border: 4px solid cornflowerblue;
    margin: 10px 0;
    background-color: darkseagreen;
    width: 50%;

}
.contactItem .contactLabel {
    font-weight: bold;
}

.contactForm {
    border: 4px solid cornflowerblue;
    width: 30%;
    position: relative;
}

.contactForm input {
    display: block;
    margin: 6px 6px;
    border: 2px solid darkseagreen;
}

.contactForm button {
    border-radius : 4px;
    background-color: darkseagreen;
    color: white;
    font-weight: bold;
    border: none;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -110%);

}